/* Start coding here */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.first-con{
    background-color: lightgray;
    padding: 16px;
}
.second-con{
    background-color: black;
    padding: 16px;
}
.third-con{
    background-color: crimson;
    padding: 24px;
}
.fourth-con{
    background-color: khaki;
    font-size: 72px;
    padding: 30px;
    text-align: center;
}